<div class="container">
    <div class="form-panel">
      <mat-form-field appearance="fill">
        <mat-label>Selecione uma linha</mat-label>
        <input
          type="text"
          matInput
          [formControl]="controleLinhas"
          [matAutocomplete]="auto"
        >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selecionarLinha($event)">
          <mat-option *ngFor="let linha of linhasFiltradas | async" [value]="linha.COD">
            {{ linha.COD }} - {{ linha.NOME }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="app-mapa-container">
      <app-mapa></app-mapa>
    </div>
  </div>