<div class="container">
  <div class="form-panel">
    <mat-form-field appearance="fill">
      <mat-label>Selecione uma linha</mat-label>
      <input type="text" matInput [formControl]="controleLinhas" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selecionarLinha($event)">
        <mat-option *ngFor="let linha of linhasFiltradas | async" [value]="linha.COD">
          {{ linha.COD }} - {{ linha.NOME }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="filtros-wrapper">
      <div class="half-width">
        <mat-form-field appearance="fill" class="filtro-adaptado">
          <mat-label>Adaptado para cadeirantes</mat-label>
          <mat-select [(ngModel)]="filtroAdapt" name="filtroAdapt">
            <mat-option [value]="1">Sim</mat-option>
            <mat-option [value]="0">Não</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="half-width">
        <!-- Filtro TIPO_VEIC -->
        <mat-form-field appearance="fill" class="filtro-tipo-veic">
          <mat-label>Tipo do ônibus</mat-label>
          <mat-select [(ngModel)]="filtroTipoVeic" name="filtroTipoVeic">
            <mat-option *ngFor="let tipo of tiposVeiculo" [value]="tipo.id">{{ tipo.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="half-width">
        <!-- Novo filtro SITUACAO -->
        <mat-form-field appearance="fill" class="filtro-situacao">
          <mat-label>Situação do veículo</mat-label>
          <mat-select [(ngModel)]="filtroSituacao" name="filtroSituacao">
            <mat-option value="1">Teste 1</mat-option>
            <mat-option value="2">Teste 2</mat-option>
            <mat-option value="3">Teste 3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="app-mapa-container">
    <app-mapa></app-mapa>
  </div>
</div>