.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.form-panel {
  width: 100%;
  max-width: 100%;
  margin: 0;
  z-index: 1;
}

mat-form-field {
  width: 100%;
  margin: 0;
}

.app-mapa-container {
  width: 100%;
  height: 824px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}