<ng-container *ngIf="shouldShowNavbar()">
  <mat-toolbar color="primary">
    <div style="flex-grow: 1;">
        <button mat-button routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</button>
        <button mat-button routerLink="/linhas"><mat-icon>directions_bus</mat-icon> Linhas</button>
        <button mat-button routerLink="/indicadores"><mat-icon>insights</mat-icon> Indicadores</button>
        <button mat-button routerLink="/cadastro"><mat-icon>person_add</mat-icon> Cadastro</button>
    </div>
    <div>
      <button mat-button (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
    </div>
  </mat-toolbar>
</ng-container>
  