mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
  
    div {
      display: flex;
      align-items: center;
      gap: 20px;
  
      mat-form-field {
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 0px;
      }
    }

    .logout-button {
      button {
        background-color: #f44336;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
      }
    }
  }