<div class="login-container">
    <mat-card>
      <mat-card-title><img src="assets/images/logoURBS.png"></mat-card-title>
      <mat-card-content>
        <form (ngSubmit)="onSubmit()">

          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="email" name="email" required>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput [(ngModel)]="password" type="password" name="password" required>
          </mat-form-field>

          <button mat-raised-button type="submit">Login</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>