.login-container {
    display: flex;
    justify-content: center;
    
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-card {
    margin-top: 200px;
    width: 300px;
    background-color: rgb(204, 204, 204);
  }
  
  img {
    width: 120px; 
    margin-left: 100px;
  }

  button {
    margin-left: 100px;
  }
