.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
  
    .form-panel {
      padding: 20px;
      border-radius: 8px;
      background-color: rgb(214, 214, 214);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 100%;
      max-width: 900px;
  
      mat-form-field {
        width: 100%; 
      }
    }

    .button-register {
        width: 100%; 
      
        &.active {
          background-color: red;
          color: white; 
      
          &:hover {
            background-color: darken(red, 10%); 
          }
        }
      
        &:disabled {
          background-color: #ccc;
          color: #666; 
        }
      }
}