:host {
    display: block;
  }

  h2{
    justify-content: center;
    padding-left: 15px;
  }
  
  mat-dialog-content {
    padding: 16px;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
  }