<div class="grid-container">
    <div class="card">
        <h2>PESSOAS POR ÔNIBUS</h2>  
        <iframe src="http://kibana.tccurbstads.com/app/kibana#/dashboard/722b74f0-b882-11e8-a6d9-e546fe2bba5f?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A900000)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))" height="600" width="800"></iframe>
    </div>
    <div class="card">
        <h2>ÔNIBUS ATRASADOS</h2>
        <iframe src="http://kibana.tccurbstads.com/app/kibana#/dashboard/722b74f0-b882-11e8-a6d9-e546fe2bba5f?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A900000)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))" height="600" width="800"></iframe>
    </div>
    <div class="card">
        <h2>ÔNIBUS ADIANTADOS</h2>
        <iframe src="http://kibana.tccurbstads.com/app/kibana#/dashboard/722b74f0-b882-11e8-a6d9-e546fe2bba5f?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A900000)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))" height="600" width="800"></iframe>
    </div>
    <div class="card">
        <h2>VEÍCULOS EM UMA CERTA LINHA</h2>
        <iframe src="http://kibana.tccurbstads.com/app/kibana#/dashboard/722b74f0-b882-11e8-a6d9-e546fe2bba5f?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A900000)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))" height="600" width="800"></iframe>
    </div>
    <div class="card">
        <h2>COM AS LINHAS MAIS MOVIMENTADAS</h2>
        <iframe src="http://kibana.tccurbstads.com/app/kibana#/dashboard/722b74f0-b882-11e8-a6d9-e546fe2bba5f?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A900000)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))" height="600" width="800"></iframe>
    </div>
    <div class="card">
        <h2>COM AS LINHAS MENOS MOVIMENTADAS</h2>
        <iframe src="http://kibana.tccurbstads.com/app/kibana#/dashboard/722b74f0-b882-11e8-a6d9-e546fe2bba5f?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A900000)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))" height="600" width="800"></iframe>
    </div>
    <div class="card">
        <h2>ÔNIBUS POR EMPRESA</h2>
        <iframe src="http://kibana.tccurbstads.com/app/kibana#/dashboard/722b74f0-b882-11e8-a6d9-e546fe2bba5f?embed=true&_g=(refreshInterval%3A(pause%3A!f%2Cvalue%3A900000)%2Ctime%3A(from%3Anow-7d%2Cto%3Anow))" height="600" width="800"></iframe>
    </div>
</div>
